/* Global Styles  
===================*/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
} 
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

a{
    color: #EF233C;
    text-decoration: none;
}

a:hover{
    color: rgb(141, 153, 174);
}

h1, h2{
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-weight: 400;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
    margin-top: 0px;
}

h3{
    font-weight: bold;
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.content-wrap{
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    padding: 60px 10px;
}

.button {
   background: #EF233C; 
   color: #EDF2F4;
   padding: 10px;
   display: inline-block;
}

/* Navigation
============== */
nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(27, 61, 112);
}

nav a:hover {
    color: #EF233C;
}

/* Header and footer 
=================== */
header h1, header h2{
    color: #EDF2F4;
    margin: 0;
}

header{
    padding-top: 50px; 
    position: relative;
    background: linear-gradient(rgba(27, 61, 112, 0.9), rgba(27, 61, 112, 0.9)), 
                url(../images/computer-chip.jpg) center bottom no-repeat fixed;
    background-size: cover;
    color: white;
}

footer{
    background: rgba(16, 36, 66, 0.9);
    text-align: center;
    color: #8D99AE; 
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

.contact-info a{
    margin:.5em;
    display: inline-block;
}

.profile-img{
    width: 300px;
    border-radius: 50%;
    border: #EF233C;
}

/* Work Experience 
===================*/
.work{
    background:#EDF2F4;
}

h3 ~ p {
    margin: 0;
}

.job-description {
    margin-bottom: 2.5rem;
}

.job-description p:first-of-type {
    margin-top: 0;
}

/* Education 
===================*/
.education{
    background: rgb(141, 153, 174);
    color: white;
}

p + h3 {
    margin-top: 2.6rem;
}

/* Media Queries 
===================*/
@media (min-width: 900px){
    /* Creates two column lay out (along with.col-wide) */
    .col-narrow{
        width: 30%;
        float: left;
    }
    
    .col-wide{
        width:70%;
        float: left;
        padding-left: 5%;
    }
}

@media (max-width: 899px){
    header{
        text-align: center;
    }

    .profile-img{
        width: 200px;
    }
}
